*.pyc
*~
~*
.Rhistory
.Rproj.user/
*.Rproj
*.DS_Store
.project
.idea
.pydevproject
.metadata
*Thumbs.db
.gitignore
/pySAHM/Resources/R_Modules/Experimental/*
/pySAHM/Resources/R_Modules/OldCopies/*
/pySAHM/Resources/R_Modules/Testing/*
*.Rproj
.Rproj.user
.Rhistory
